* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

.row:after {
	content: "";
	clear: both;
	display: table;
}

[class*='col-']{
	float: left;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
	margin: 0;
	padding: 0;
}

.bg-menu{
	margin: 0;
	padding: 0;
}


.bg-nav{
	background-color: transparent;
	height: 60px;
}

.banner {
	background-image: url(../image/banner/img.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.text-banner {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	color: #fff;
}

.text-banner h1{
	text-transform: uppercase;
	padding-top: 20px;
	padding-top: 15%;
	font-size: 3.5rem;
	letter-spacing: 5px;
}

@media screen and (max-width: 720px){
	.text-banner h1{
		padding-top: 45%;
	}
}

.text-banner h3{
	padding-top: 20px;
	letter-spacing: 2px;
	font-weight: 300;
}

.bg-konten {
	width: 	90%;
	margin: 0 auto;
}

.judul-konten {
	text-align: center;
	margin: 45px 0 25px 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.judul-konten h1{
	padding-bottom: 10px;
}

hr.garis-bawah {
	width: 10%;
	margin: 10px auto;
	border: 3px solid #333;
}

.bg-data{
	height: 500px;
}

h2 {
	margin: 15% 25px 60px 25px;
	font-size: 1.8rem;
}

hr.garis-bawah-data {
	width: 100%;
	margin: -50px 15px 0 15px;
	border: 1px solid #333;
}

.bg-data {
	min-height: 600px;
}

.bg-data p{
	padding-left: 25px;
	font-size: 1.3rem;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 30px;
}

.foto img {
	width: 70%;
	margin: 0 15%;
	margin-top: 20px;
}

.konten {
	margin: 50px 0px;
	text-align: center;
}

.konten img {
	width: 50%;
	opacity: .6;
	transition: .8s;
	max-height: 100%;
}

.konten img.img-bawah {
	margin-top: 5px;
	width: 50%;
	opacity: .6;
	transition: .8s;
	max-height: 100%;
}

.img-bawah {
	margin-top: -60px;
}

.konten img:hover {
	opacity: 2;
	width: 60%;
	transition: .8s;
	border-radius: 40px;
}
/* 
.bg-konten{
	margin: 0;
	padding: 0;
	background-image: url(../image/banner/img.jpg);
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
} */

.bg-konten h1{
	text-transform: uppercase;
	padding-top: 40px;
	font-size: 2rem;
	letter-spacing: 5px;
	color: #000;
}

.isi-konten {
	padding-bottom: 150px; 
}

.whatsapp{
	height: 30px; 
	width: 30px;
}

.whatsapp:hover{
	height: 50px;
	width: 50px;
	transition: .8s;
}

.instagram{
	height: 30px; 
	width: 30px;
}

.instagram:hover{
	height: 50px;
	width: 50px;
	transition: .8s;
}